section.our-branches {
  padding: 30px 0;
}

.our-branches__item {
  margin: 20px 0;
  @include box-shadow(
    $v: 5px,
    $blur: 10px,
    $spread: 3px,
    $color: rgba(#363636, .25)
  );
  @include transition(all, 500ms);

  &:hover {
    @include box-shadow(
      $v: 5px,
      $blur: 10px,
      $spread: 5px,
      $color: rgba(#363636, .4)
    );
    @include transform('translateY(-10px)');
  }

  &__top {
    text-align: center;
    min-height: 450px;
    @include background(
      $repeat: 'no-repeat',
      $size: 'cover',
      $position: 'center'
    );
    @include flexible(
      $direction: 'column',
      $justify: 'start',
      $items: 'center'
    );

    h3 {
      margin: 50px 0 100px;

      font: {
        family: _font(2);
        weight: 700;
        size: 34px;
      }
      color: #363636;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      padding: 2px;
      font-size: 16px;

      a {
        display: block;
        font-weight: 600;
        color: #363636;
        @include media('between', (992px, 1199px)) {
          font-size: 14px;
        }
      }
    }
  }

  &__bottom {
    text-align: center;
    margin-top: -20px;

    a.our-branches__item__rez-button {
      display: inline-block;
      background-color: #363636;
      padding: 0 15px;
      height: 40px;
      line-height: 40px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      border: 2px rgba(#fff, .5) solid;
      @include transition(all, 500ms);
      font: {
        family: _font(2);
        weight: 600;
      }

      &:hover {
        color: rgba(#fff, .8);
        @include box-shadow(
          $v: 2px,
          $blur: 10px,
          $spread: 2px,
          $color: rgba(#fff, .2)
        );
      }
    }

    p {
      display: block;
      margin-top: -20px;
      margin-bottom: 0;
      background-color: #363636;
      padding: 50px;
      color: #fff;
      font-style: italic;
      font-weight: 600;
      text-align: center;
      min-height: 300px;
      @include flexible($items: 'center');
    }
  }
}