@font-face {
  font-family: 'UVF NarzissDrops';
  src: url('uvf_narziss-drops-webfont.woff2') format('woff2'),
       url('uvf_narziss-drops-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}